<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.gerocomium.dao.mapper.ActiveParticipantMapper">

    <select id="listParticipateElder" resultType="com.ew.gerocomium.dao.vo.GetActiveByIdVo$ParticipateElderVo">
        SELECT e.id,
               e.`name`,
               e.phone
        FROM active_participant ap
                 LEFT JOIN elder e ON e.id = ap.elder_id
        WHERE ap.active_id = #{activeId}
    </select>
</mapper>
