<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ew.gerocomium.dao.mapper.DishesMapper">

    <select id="listDishesByKey" resultType="com.ew.gerocomium.dao.vo.PageDishesByKeyVo">
        SELECT
        d.id,
        dt.`name` AS type_name,
        d.`name` AS dishes_name,
        d.price
        FROM
        dishes d
        LEFT JOIN dishes_type dt ON dt.id = d.type_id
        <where>
            d.del_flag = 'N'
            <if test="keyQuery.typeId != null">
                AND d.type_id = #{keyQuery.typeId}
            </if>
            <if test="keyQuery.dishesName != null and keyQuery.dishesName != '' and keyQuery.dishesName != 'null'">
                AND d.name LIKE concat('%', #{keyQuery.dishesName,jdbcType=VARCHAR}, '%')
            </if>
            ORDER BY
            d.create_time DESC
        </where>
    </select>
    <select id="listSetDishesByElderId" resultType="com.ew.gerocomium.dao.po.Dishes">
        SELECT d.*
        FROM dishes d
                 LEFT JOIN set_dishes sd ON sd.dishes_id = d.id
                 LEFT JOIN elder e ON e.catering_set_id = sd.set_id
        WHERE d.del_flag = 'N'
          AND e.id = #{elderId}
    </select>
</mapper>
